.battle-match {
  display: flex;
  a {
    width: 100%;
    color: black;
    text-decoration: none;
  }
  .home-team-player {
    width: 45%;
    text-align: right;
  }
  .away-team-player {
    width: 45%;
    text-align: left;
  }
  .versus {
    width: 10%;
    text-align: center;
  }
  .match-winner {
    background-color: rgb(84, 140, 47);
  }
  .match-loser {
    background-color: rgb(255, 27, 28);
  }
  .match-playing {
    background-color: rgb(168, 213, 226);
  }
  .declare-winner-left {
    float: left;
  }
  .declare-winner-right {
    float: right;
  }
}

.player-card {
  height: 32px;
  padding: 4px 8px;
  border-radius: 3px;
  margin: 1px 0 ;
}

.battle-score {
  display: flex;
  width: 100%;
  font-size: 32px;
  .home-score {
    text-align: right;
    width: 49%;
  }
  .away-score {
    text-align: left;
    width: 49%;
  }
}
.divider {
  text-align: center;
  width: 2% !important;
}
